<div class="edu-wrapper">
  <div class="section-header">
    <span class="section-label">Academic Background</span>
    <h2 class="section-title">Education</h2>
    <div class="section-divider"></div>
  </div>

  <div class="edu-grid">
    <div class="edu-card glass-card" *ngFor="let edu of educationList">
      <div class="edu-icon">
        <i class='bx bxs-graduation'></i>
      </div>
      <div class="edu-info">
        <h3 class="edu-course">{{ edu.course }}</h3>
        <p class="edu-institute">{{ edu.institute }}</p>
        <div class="edu-meta">
          <span class="edu-duration"><i class='bx bx-calendar'></i> {{ edu.duration }}</span>
          <span class="edu-score" *ngIf="edu.score"><i class='bx bx-trophy'></i> {{ edu.score }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
