<div class="container">
    <div class="title">
        <span>My Portfolio</span>
    </div>

    <div class="name">
        <span>
            <span>Hi,</span> I am
        </span><br>
        <span>Madhukar Reddy</span>
        <span>Parupati</span>
        <br>
        <span class="designation">{{designation}}</span><span> Developer</span>
    </div>

    <div class="profile">
        <div><img src="assets/madhu.png" alt=""></div>
        <div><a href="tel:+16829992094">+1 682-999-2094</a></div>
        <div><a href="mailto:madhukar.parupati@gmail.com" target="_blank">madhukar.parupati@gmail.com</a></div>
        <div>
            <a title="linkedin" class='bx bxl-linkedin' href="https://www.linkedin.com/in/parupati-madhukar-reddy-b7817671/" target="_blank"></a>
            <a title="Github" class='bx bxl-github' href="https://github.com/parupati" target="_blank"></a>
            <a title="Download Resume" class='bx bx-cloud-download' href="assets/MadhuResume.pdf" target="_blank"></a>
            <a title="Figma" class='bx bxl-figma' href="https://www.figma.com/community/file/1263633339200526590" target="_blank"></a>
        </div>
        
        <!-- <div class="profile-bg"></div> -->
        <!-- <img src="../../assets/madhu.png" alt=""> -->
    </div>
</div>