<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a class='bx bxl-gmail' href="mailto:madhukar.parupati@gmail.com" target="_blank"></a></li>
        <li><a class='bx bxl-whatsapp' href="https://wa.me/16829992094" target="_blank"></a></li>
        <li><a class='bx bxl-linkedin' href="https://www.linkedin.com/in/parupati/" target="_blank"></a></li>
    </ul>

    <ul class="contact-info">
        <li><a href="tel:+16829992094">Mobile: 682-999-2094</a></li>
        <li><a href="mailto:madhukar.parupati@gmail.com" target="_blank">madhukar.parupati@gmail.com</a></li>
    </ul>
</div>